<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobHunt</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to JobHunt</h1>
    </header>
    <main>
        <section id="banner">
            <img src="../static/pic1.jpg">
        </section>
        <section id="about-us">
            <h2>About Us</h2>
            <p>JobHunt is a revolutionary platform that connects job seekers with employers. We help you find the perfect job and build a strong professional network. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem assumenda eum necessitatibus corporis amet dicta neque, consequatur nostrum error esse soluta. Accusantium ex veritatis nulla eius illum, cumque earum sint.</p>
        </section>
        <section id="job-openings">
            <h2>Job Openings</h2>
            {% for job in jobs %}
                {% include 'jobitem.html' %}
            {% endfor %}  
        </section>
        <section id="contact-us">
            <button>Contact Us</button>
        </section>
    </main>
</body>
</html>
