<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobHunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Application status</h1>
    </header>
    <main>
        <section id="about-us">
            <p>Your application for the role of <b>{{job['title']}}</b> has been submitted!</p>
            <h2>Full Name</h2>
            <p>{{application['name']}}</p>
            <h2>Email</h2>
            <p>{{application['email']}}</p>
            <h2>LinkedIn</h2>
            <p>{{application['linkedin']}}</p>
            <h2>Education</h2>
            <p>{{application['education']}}</p>
            <h2>Work Experience</h2>
            <p>{{application['work_experience']}}</p>
            <h2>Resume URL</h2>
            <p>{{application['resume']}}</p>
        </section>
        <a href="{{ url_for('home') }}" class="apply-button">Back to Home</a>
    </main>
</body>
</html>